<div class="alert alert-danger text-left" role="alert">
    <h4 class="alert-heading">Oops, something wrong happened...</h4>
    <p *ngIf="error.message">{{error.message}}</p>
    <small>Status: {{error.statusError}}/{{error.status}}</small>
    <ul *ngIf="error.subErrors" class="list-group list-group-flush text-left mt-3">
        <li *ngFor="let subError of error.subErrors" class="list-group-item list-group-item-warning">
            <small>{{subError.formatError()}}</small>
        </li>
    </ul>
    <hr>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-warning" (click)="toJson()">Parse to JSON in clipboard.</button>
        <button *ngIf="enableRetry" class="btn btn-outline-primary" (click)="retry()">Retry</button>
    </div>
</div>
