<div class="col-lg-2 col-md-3 col-sm-4 col-6 ml-auto">
    <div class="form-group">
        <label for="userIdInput">User #ID :</label>
        <input id="userIdInput" type="number" class="form-control" [(ngModel)]="userId"
               (focusout)="getUserSubscriptions()">
    </div>
</div>
<div class="text-center mb-3">
    <app-title-nav-bar [title]="'Groups :'"></app-title-nav-bar>
</div>

<div *ngIf="error" class="col-md-6 col-8 mx-auto text-center my-4">
    <app-http-error [error]="error" (retryEvent)="getGroups()" [retry]="true"></app-http-error>
</div>
<div *ngIf="!error && !groups" class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 mx-auto text-center my-4">
    <app-http-waiting></app-http-waiting>
</div>
<div *ngIf="groups && groups.length == 0" class="text-center">
    <h6>Nothing to show.</h6>
</div>

<!-- Old groups list.
<div *ngIf="groups" class="card-group">
    <div *ngFor="let group of groups; let index = index" class="col-lg-3 col-md-4 col-sm-6 col-12 my-4">
        <div class="card border-primary">
            <div class="card-body">
                <h5 class="card-title">
                    {{group.name}}
                    <button type="button" class="close" aria-label="Close" (click)="deleteGroup(group.id, index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
                <h6 class="card-subtitle text-muted mb-2 font-italic">ID: #{{group.id}}</h6>
                <p class="card-text">{{group.description ? group.description : 'No description'}}</p>
                <div class="container-fluid p-0 m-0 text-right">
                    <a [routerLink]="['/groups', group.id, 'subscriptions']" class="btn btn-link text-light">
                        <i class="fas fa-list"></i>
                    </a>
                    <a *ngIf="!isSubscribed(group.id) else unsubscribeButton" class="btn btn-link text-success"
                       (click)="subscribe(group.id)">
                        <i class="fas fa-user-plus"></i>
                    </a>
                    <ng-template #unsubscribeButton>
                        <a class="btn btn-link text-danger" (click)="unsubscribe(index, group.id)">
                            <i class="far fa-window-close"></i>
                        </a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<arhs-ui-groups-list [detailsTemplate]="bip" [data]="groups" [options]="tableOptions" [refreshEvent]="refreshEvent" (onSelect)="onSelectedItem($event)"></arhs-ui-groups-list>

<ng-template #bip let-id="id">
    <div class="container-fluid p-0 m-0 text-right">
        <a [routerLink]="['/groups', id, 'subscriptions']" class="btn btn-link text-light">
            <i class="fas fa-list"></i>
        </a>
    </div>
</ng-template>

<div class="text-center my-4">
    <a role="button" data-toggle="collapse" href="#groupCreationModal" aria-expanded="false"
       aria-controls="groupCreationModal" class="btn btn-outline-success"><span class="fas fa-plus text-success"></span></a>
</div>
<div class="collapse container" id="groupCreationModal">
    <div class="col mx-auto">
        <app-group-creation-form class="w-100" (createEvent)="createGroup($event)"></app-group-creation-form>
    </div>
</div>
