<div class="container-fluid d-flex mb-4">
    <div *ngIf="backUrl || homeUrl" class="col-md-5 col-sm mr-auto">
        <button *ngIf="backUrl" class="btn btn-outline-primary mr-3" (click)="goBack()">Back</button>
        <button *ngIf="homeUrl" class="btn btn-outline-warning" (click)="goHome()">Home</button>
    </div>
    <div [class.text-left]="homeUrl || backUrl" [class.text-center]="!homeUrl || !backUrl" class="col">
        <h2 *ngIf="title">{{title}}</h2>
        <h5 *ngIf="subTitle" class="muted font-italic">{{subTitle}}</h5>
    </div>
</div>
