<div class="container-fluid mb-4 text-white px-0">
    <div class="row">
        <div class="col-md col-12 mr-md-auto text-md-left mb-md-0 mb-4">
            <fa-icon *ngIf="backUrl" [icon]="backIcon" size="2x" class="btn btn-link text-decoration-none mr-2" (click)="goBack()"></fa-icon>
            <fa-icon *ngIf="homeUrl" [icon]="homeIcon" size="2x" class="btn btn-link text-decoration-none text-warning" (click)="goHome()"></fa-icon>
        </div>
        <div class="col-md col-12 ml-auto">
            <div class="d-flex align-items-center justify-content-md-end justify-content-center">
                <h2 *ngIf="title">{{title}}<h5 *ngIf="subTitle" class="d-inline text-primary text-muted font-italic"> / {{subTitle}}</h5></h2>
            </div>
        </div>
    </div>
</div>
