<StackLayout orientation="vertical" class="dark p-15">
    <StackLayout height="50%">
        <Label class="h2 dark" text="Current subscriptions :"></Label>
        <app-user-subscriptions-list></app-user-subscriptions-list>
    </StackLayout>
    <StackLayout horizontalAlignment="center">
        <Label class="text-center fas c-success" fontSize="30" text="&#xf067;"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" verticalAlignment="stretch" horizontalAlignment="right">
        <Label class="text-right fas dark" fontSize="30" text="&#xf085;"></Label>
    </StackLayout>
</StackLayout>
