<app-side-drawer-bar></app-side-drawer-bar>
<GridLayout rows="auto, *" padding="15" automationText="subscriptionSubscribingPage">
    <StackLayout row="0">
        <app-title-nav-bar [title]="'Subscription'" [subTitle]="'Subscribing'" [backEnabled]="true" [homeUrls]="['/subscription']"></app-title-nav-bar>
    </StackLayout>
    <StackLayout row="1">
        <app-groups-list [removeElementFromList]="subscribingEvent" [onlyIfSubscribed]="false" [elementDetails]="elementDetails"></app-groups-list>
        <ng-template #elementDetails let-element>
            <StackLayout height="100%" width="100%">
                <Label class="fas dark c-success pull-right" fontSize="15" text="&#xf234;" (tap)="animateButtons($event); subscribe(element.id)"></Label>
            </StackLayout>
        </ng-template>
    </StackLayout>
</GridLayout>
