<div *ngIf="error" class="col-md-6 col-8 mx-auto text-center my-4">
    <app-http-error [error]="error" (retryEvent)="getGroups()" [retry]="true"></app-http-error>
</div>
<div *ngIf="!error && !groups" class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 mx-auto text-center my-4">
    <app-http-waiting></app-http-waiting>
</div>
<div *ngIf="groups && groups.length == 0" class="text-center">
    <h6>Nothing to show.</h6>
</div>

<arhs-ui-basic-table #table [columns]="tableColumns" [details]="elementDetails" [data]="groups" [options]="tableOptions" [refreshEvent]="refreshEvent" (onSelect)="onSelectedItem($event)"></arhs-ui-basic-table>
