<div class="container-fluid">
    <div class="row">
        <div *ngIf="!isAPIRequestFinalized" class="col-12">
            <app-http-waiting></app-http-waiting>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="isAPIRequestFinalized">
            <div *ngIf="groups && groups.length == 0" class="col-12 text-center">
                <h6 class="text-white font-italic text-muted">Nothing to show.</h6>
            </div>
            <div class="col-12" *ngIf="tableColumns && tableOptions && groups && groups.length > 0">
                <arhs-ui-basic-table [styles]="styles" [columns]="tableColumns" [details]="elementDetails" [data]="groups" [options]="tableOptions" [refreshEvent]="refreshEvent" (onSelect)="onSelectedItem($event)"></arhs-ui-basic-table>
            </div>
        </ng-container>
    </div>
</div>
