<StackLayout orientation="vertical">
    <StackLayout height="50%" class="dark">
        <Label *ngIf="groups && groups.length == 0" class="text-center body dark font-italic" text="No group found."></Label>
        <ng-container *ngIf="tableColumns && tableOptions && groups && groups.length > 0">
            <arhs-ui-basic-table [columns]="tableColumns" [details]="elementDetails" [data]="groups" [options]="tableOptions" [refreshEvent]="refreshEvent" (onSelect)="onSelectedItem($event)"></arhs-ui-basic-table>
        </ng-container>
    </StackLayout>
</StackLayout>
