<app-title-nav-bar [homeUrl]="'/groups'" [backUrl]="'/groups'" [title]="'Group subscriptions'"></app-title-nav-bar>
<div class="container">
    <div *ngIf="!subscriptions && !error" class="text-center">
        <app-http-waiting></app-http-waiting>
    </div>
    <div *ngIf="error">
        <app-http-error [error]="error" (retryEvent)="getGroup()" [retry]="true"></app-http-error>
    </div>
    <div *ngIf="subscriptions && subscriptions.length == 0" class="text-center">
        <h6>Nothing to show.</h6>
    </div>
    <ul class="list-group">
        <li *ngFor="let sub of subscriptions; let index = index" class="list-group-item d-flex justify-content-between">
            <h6>Id: <span class="font-italic text-muted">#{{sub.id}}</span> ; User: <span class="font-italic text-muted">#{{sub.userId}}</span> ; Group: {{group.name}} (<span class="font-italic text-muted">#{{group.id}}</span>)</h6>
            <button type="button" class="close" aria-label="Close" (click)="unsubscribe(sub.id, index)">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>
