/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.hover:hover {
    animation-name: buttonAnimationDefault;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/*
 * Animations
 */
@keyframes buttonAnimationDefault {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

html, body {
    height: 100%;
}
body {
    background-color: #343a40;
}

.dark {
    color: white;
    background-color: #343a40;
}

.light {
    color: #343a40;
    background-color: white;
}

.primary {
    color: white;
    background-color: #3b54fe;
}

.c-success {
    color: #28a745;
}


